#EXTM3U
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/GTVBangladeshLogo.png/220px-GTVBangladeshLogo.png" group-title="Entertainment",Gazi TV (1)
http://114.130.96.165:8080/1102/index.fmp4.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/GTVBangladeshLogo.png/220px-GTVBangladeshLogo.png" group-title="Entertainment",Gazi TV (2)
http://xtv.ooo:8080/live/5999758908/1435799995/245901.ts
#EXTINF:-1 tvg-logo="https://i.ibb.co/Rj48vSx/download.png" group-title="Sports",T sports (1)
http://114.130.96.165:8080/1101/index.fmp4.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/Rj48vSx/download.png" group-title="Sports",T sports (2)
http://172.16.29.242:8080/show/5067/index.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/Rj48vSx/download.png" group-title="Sports",T sports (3)
https://freeiptv25.netlify.app/live/stream_8.m3u8
