#EXTM3U
#EXTINF:-1 tvg-logo="https://icon2.cleanpng.com/20180402/cte/kisspng-discovery-kids-discovery-channel-television-channe-axe-logo-5ac1dd9023d8e8.7749893515226546081468.jpg" group-title="Entertainment",Discovery Kids
http://103.162.136.235:4500/play/a01j/index.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/nick-logo.jpg" group-title="Kids",Nick
http://103.162.136.235:4500/play/a01f/index.m3u8
#EXTINF:-1 tvg-logo="https://pngimage.net/wp-content/uploads/2018/05/cartoon-network-logo-png-8.png" group-title="Kids",CN
http://iptv.prosto.tv:7000/ch207/video.m3u8
#EXTINF:-1 tvg-logo="https://ewsat.com/img/POGO.png" group-title="Kids",Pogo
http://103.162.136.235:4500/play/a01i/index.m3u8
#EXTINF:-1 tvg-logo="https://thumbs.dreamstime.com/b/transformers-character-cardboard-silhouette-bumblebee-advertises-amercian-science-fiction-movie-december-bangkok-134590705.jpg" group-title="Kids",Bumblebee
https://stitcheraws.unreel.me/wse-node02.powr.com/live/5bf2256ed5eeee0f5a4094bb/playlist.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/bn/thumb/3/39/দুরন্ত_টিভি_লোগো.jpg/170px-দুরন্ত_টিভি_লোগো.jpg" group-title="Children TV",Duronto TV
https://tv.kotha.im/Duronto_TV_HD/index.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/GTVBangladeshLogo.png/220px-GTVBangladeshLogo.png" group-title="Entertainment",Gazi TV HD
http://103.102.27.172:6464/Channel-1/index.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/Rj48vSx/download.png" group-title="Sports",T Sports HD
http://jupiter.bdcabletv.com/T-sp/tracks-v1a1/mono.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/6/6f/Sony_ten.jpg" group-title="Sports",Sony Ten 1
http://jupiter.bdcabletv.com/ten_1-enc/video.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/6/6f/Sony_ten.jpg" group-title="Sports",Sony Ten 2
http://jupiter.bdcabletv.com/ten_2-enc/video.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/6/6f/Sony_ten.jpg" group-title="Sports",Sony Ten 3
http://jupiter.bdcabletv.com/ten_3-enc/video.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/TPtGLZg/Sony-Six.png" group-title="Sports",Sony Six
http://jupiter.bdcabletv.com/SonySixHD/video.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/star-sports-hd-1-logo.jpg" group-title="Sports",Star Sports 1
http://103.16.24.54:8080/channel1/index.m3u8
#EXTINF:-1 tvg-logo="https://www.rdcablenet.com/wp-content/uploads/2019/01/STAR-SPORTS-2.jpg" group-title="Sports",Star Sports 2
http://103.162.136.235:4500/play/a016/index.m3u8
#EXTINF:-1 tvg-logo="https://www.rdcablenet.com/wp-content/uploads/2019/01/STAR-SPORTS-1.jpg" group-title="Sports",Star Sports Select 1
http://103.162.136.235:4500/play/a00v/index.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/star-sports-select-hd-2-logo.jpg" group-title="Sports",Star Sports Select 2
http://103.162.136.235:4500/play/a00w/index.m3u8
#EXTINF:-1 tvg-logo="https://www.altkia.com/wp-content/uploads/2015/04/Dubai-Sports.jpg",DUBAI SPORTS
https://dmitnthvll.cdn.mangomolo.com/dubaisports/smil:dubaisports.smil/index.m3u8
#EXTINF:-1 tvg-logo="https://www.altkia.com/wp-content/uploads/2015/04/Dubai-Sports.jpg",DUBAI SPORTS 2
https://dmitwlvvll.cdn.mangomolo.com/dubaisportshd/smil:dubaisportshd.smil/chunklist_b1600000.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/VBChH4J/ANANDA.jpg" group-title="Bangla Movies",Ananda TV
http://iptvbd.jagobd.com:1931/live-orgin/anandatv.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="http://www.chonnochara.com/wp-content/uploads/2017/05/Asian-TV-Logo-768x876.jpg" group-title="Entertainment",Asian TV
http://iptvbd.jagobd.com:1931/live-orgin/asian-test-sample-ok-d.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/ATN_Bangla.svg/240px-ATN_Bangla.svg.png" group-title="Entertainment",ATN Bangla
http://iptvbd.jagobd.com:1931/live-orgin/atnbd-8-org.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/ATN_Bangla.svg/240px-ATN_Bangla.svg.png" group-title="Entertainment",ATN Bangla UK
http://87.212.248.44:60230/play/a05g/index.m3u8
#EXTINF:-1 tvg-logo="https://banglatv.tv/wp-content/uploads/2018/10/bangla-tv-logo.png" group-title="Entertainment",Bangla TV
http://iptvbd.jagobd.com:1931/live-orgin/banglatvhd.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://mir-s3-cdn-cf.behance.net/project_modules/disp/3e5a3623302383.5632207f99dba.jpg" group-title="Entertainment",Banglavision
http://iptvbd.jagobd.com:1931/live-orgin/banglav000.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/c/c7/Boishakhi_TV_logo.svg/400px-Boishakhi_TV_logo.svg.png" group-title="Entertainment",boishakhi tv
http://iptvbd.jagobd.com:1931/live-orgin/boishakhitv-org.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/YTDzTgh/images-jpeg.jpg" group-title="Entertainment",boishakhi tv plus
http://iptvbd.jagobd.com:1931/live-orgin/boishakhiplus.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://ssl.com.bd/sites/default/files/BTV%20Logo%20Gallery.png" group-title="National TV",BTV
http://103.106.2.152:13456/btv.m3u8
#EXTINF:-1 tvg-logo="https://2.bp.blogspot.com/-X3GWMRvX6j0/Vtl5BL2Pu0I/AAAAAAAAAHo/8Sou_MnsF9w/s1600/BTV%2BLive.gif" group-title="National TV",BTV World
http://iptvbd.jagobd.com:1931/live-orgin/btvbd-office-sg.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/TKqgJ4g/images-jpeg.jpg" group-title="National TV",BTV Chottogram
http://103.106.2.152:13456/btv_ctg.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/1/15/Sangsad_Television_Logo.jpg" group-title="Educational",Sangsad TV
http://103.106.2.152:13456/sangsad.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/f/ff/Channel9_bd.svg/520px-Channel9_bd.svg.png" group-title="Entertainment",Channel 9
https://tv.kotha.im/Channel_9_HD/index.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Channel24logo.svg/240px-Channel24logo.svg.png" group-title="News",Channel 24
http://iptvbd.jagobd.com:1931/live-orgin/channel24-sg-e8e.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/8/88/Channel-i.svg/384px-Channel-i.svg.png" group-title="Entertainment",Channel i
http://iptvbd.jagobd.com:1931/live-orgin/channeli-8-org.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://chsuk.tv/img/cateringcircle.png" group-title="Entertainment",Channel S (UK)
http://iptvbd.jagobd.com:1931/live-orgin/chsukoff.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/DBC_News_logo.png/180px-DBC_News_logo.png" group-title="News",DBC News
http://iptvbd.jagobd.com:1931/live-orgin/dbcnews.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/bn/b/be/দীপ্ত_টিভি_লোগো_২.jpg" group-title="Entertainment",Deepto TV
https://tv.kotha.im/Deepto_TV_HD/index.m3u8
#EXTINF:-1 tvg-logo="https://www.tradebangla.com.bd/images/business/profile/2017/12/12/222121217071805.jpg" group-title="Entertainment",Desh TV
https://tv.kotha.im/Desh_TV_SD/index.m3u8
#EXTINF:-1 tvg-logo="https://www.freeetv.com/images/03_logo/etv_Bangladesh.jpg" group-title="Entertainment",Eekushey TV
http://210.4.72.204/hls-live/livepkgr/_definst_/liveevent/livestream3.m3u8
#EXTINF:-1 tvg-logo="https://www.assignmentpoint.com/wp-content/uploads/2016/04/independent-television.jpg" group-title="News",Independent TV
http://iptvbd.jagobd.com:1931/live-orgin/independent-8-org.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/JamunaTV_logo.jpg/250px-JamunaTV_logo.jpg" group-title="News",Jamuna TV
http://iptvbd.jagobd.com:1931/live-orgin/jamuna-test-sample-ok.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/3/39/Maasranga_Television_Logo.jpg/180px-Maasranga_Television_Logo.jpg" group-title="Entertainment",Maasranga TV
http://iptv.kitv.live:1935/live/maasrangalive/HODMTV/1.m3u8
#EXTINF:-1 tvg-logo="https://logodix.com/logo/1710354.jpg" group-title="Entertainment",MY TV
http://iptvbd.jagobd.com:1931/live-orgin/mytv-up-off.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://www.lyngsat.com/logo/tv/mm/mohona_tv.png" group-title="Entertainment",Mohona TV
http://iptvbd.jagobd.com:1931/live-orgin/mohonatv00000223232244556633.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/e/ef/NTV_%28Bangladesh%29_logo.svg/240px-NTV_%28Bangladesh%29_logo.svg.png" group-title="Entertainment",NTV
https://tv.kotha.im/NTV_SD/index.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/e/ef/NTV_%28Bangladesh%29_logo.svg/240px-NTV_%28Bangladesh%29_logo.svg.png" group-title="Entertainment",NTV UK
https://a.jsrdn.com/broadcast/22680_3BR3zocwi9/-0800/c.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/0/00/News24logo%28BD%29.jpg/200px-News24logo%28BD%29.jpg" group-title="News",News 24
http://iptvbd.jagobd.com:1931/live-orgin/news24local.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="http://amrbd.com/assets/images/Nagorik%20Tv1656563105.png" group-title="Entertainment",Nagorik TV
http://103.55.144.46:80/hls/nagoriktv.m3u8
#EXTINF:-1 tvg-logo="https://www.hellobanglaworld.com/wp-content/uploads/2022/02/nexus_television.jpg" group-title="News",Nexus
https://tv.kotha.im/Nexus_TV_HD/index.m3u8
#EXTINF:-1 tvg-logo="https://creativeeventsbd.com/wp-content/uploads/2019/12/RTV-1.png" group-title="Entertainment",RTV
http://iptvbd.jagobd.com:1931/live-orgin/rtv-sg.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/1/15/SA_TV_Logo.png" group-title="Entertainment",SA TV
http://iptvbd.jagobd.com:1931/live-orgin/satvoff5666.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/bn/thumb/f/f6/সময়_টিভির_লোগো.svg/360px-সময়_টিভির_লোগো.svg.png" group-title="News",Somoy TV
http://iptvbd.jagobd.com:1931/live-orgin/somoyt000011226615544544.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://pbs.twimg.com/profile_images/793390452238004224/gVdYdk_-_400x400.jpg" group-title="Entertainment",Akash Aath
http://208.86.19.13:81/902.stream/index.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Sony_Aath_logo.svg/240px-Sony_Aath_logo.svg.png" group-title="Entertainment",Sony Aath
http://45.127.56.3:9698/live/Corpus-POL/SRV4/1/SONY-AATH/video.m3u8
http://jupiter.bdcabletv.com/Sony_A_ath/video.m3u8
#EXTINF:-1 tvg-logo="https://www.bizasialive.com/wp-content/uploads/2020/10/colorsbangla-696x464.jpg" group-title="Entertainment",Colors Bangla HD
http://208.86.19.13:81/904.stream/index.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/C8QYP1L/Colors-Bangla-Cinema.jpg" group-title="Entertainment",Colors Bangla Cinema
http://208.86.19.13:81/907.stream/index.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/d/d0/Star_Jalsha_logo.jpg" group-title="Entertainment",Star Jalsha HD
http://103.16.24.54:8080/channel5/index.m3u8
http://jupiter.bdcabletv.com/Jalsha-Star/video.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/nczFLcg/jalshamovies.jpg" group-title="Bangla Movies",Jalsha Movies HD
http://jupiter.bdcabletv.com/jalshamuvie-enc/video.m3u8
#EXTINF:-1 tvg-logo="https://www.adgully.com/img/800/201810/zee-bangla-logo.jpg" group-title="Entertainment",Zee Bangla HD
http://103.16.24.54:8080/channel4/index.m3u8
http://jupiter.bdcabletv.com/Zee_Bangla_HD/video.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/8K4FvMd/Zee-Bangla-Cinema-Logo.jpg" group-title="Entertainment",Zee Bangla Cinema
http://208.86.19.13:81/708.stream/index.m3u8
#EXTINF:-1 tvg-logo="https://www.lyngsat.com/logo/tv/ss/sun-bangla-in.png" group-title="Entertainment",Sun Bangla
http://iptvworld.nl:2095/live/nlinenodric/4sR2SwYYeg/82983.ts
#EXTINF:-1 tvg-logo="https://static.wikia.nocookie.net/logopedia/images/0/0d/R-plus-gold.jpg" group-title="Entertainment",R Plus Gold
http://idvd.multitvsolution.com/idvo/rplusgold.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/CPmLfGs/Amar-Bangla.png" group-title="Entertainment",Amar Bangla
http://stream1.livebox.co.in:80/kbcreationhls/live.m3u8
#EXTINF:-1 tvg-logo="https://latestlearnerships.com/wp-content/uploads/2016/11/discovery-careers-jobs-internships-vacancies-learnership-programme-310x165.jpg" group-title="Documentary",Discovery
https://tv.googledrivelinks.com/live.php?c=Discovery_Channel_Bengali&q=1200&e=.m3u8
#EXTINF:-1 tvg-logo="https://multireach.in/wp-content/uploads/2020/11/Fox-Life-HD.png" group-title="Documentary",Fox Life HD
http://103.162.136.235:4500/play/a011/index.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/travel-xp-hd-logo.jpg" group-title="Documentary",travel xp HD
http://50.7.237.4:8080/TRAVELXPHD/index.m3u8
#EXTINF:-1 tvg-logo="https://www.adgully.com/img/400/201907/animal-ka-planet.jpg" group-title="Documentary",Animal Planet HD
http://50.7.237.4:8080/ANIMALPLANET/index.m3u8
#EXTINF:-1 tvg-logo="https://re-pal.com/wp-content/uploads/2019/10/NG_Logo-1140x450-800x316.jpg" group-title="Documentary",National Geographic HD
https://vips-livecdn.fptplay.net/hda2/natgeohd_vhls.smil/chunklist_b2500000.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/TLC_Logo.svg/400px-TLC_Logo.svg.png" group-title="Documentary",TLC
http://50.7.237.4:8080/TLC/index.m3u8
#EXTINF:-1 tvg-logo="https://www.tbn24.com/public/website_logo.png" group-title="Entertainment",TBN 24 USA
https://dog.dg21bd.com:443/TBN242/tracks-v1a1/mono.m3u8
#EXTINF:-1 tvg-logo="https://rplus.in/wp-content/uploads/2019/01/mobile-logo-rplus-news.png" group-title="News",R Plus News
https://vidcdn.vidgyor.com/rplus-origin/rplusasianetlive/playlist.m3u8
#EXTINF:-1 tvg-logo="https://www.adgully.com/img/400/202101/abp-annada.png.jpg" group-title="News",ABP Ananda
https://abplivetv.akamaized.net/hls/live/2043012/ananda/master.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/0VcDPW7/R-Bangla-jpeg.jpg" group-title="News",R. Bangla
https://rbangla.pc.cdn.bitgravity.com/live/rbanglatv/chunklist_2.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/hYbkqQx/in-high-news-3156.webp" group-title="News",HIGH NEWS
http://highmedia.livebox.co.in:80/HIGHNEWShls/LIVE.m3u8
#EXTINF:-1 tvg-logo="https://pbs.twimg.com/profile_images/1331612142357815296/X6JlpsOm_400x400.jpg" group-title="News",tv9 Bangla
https://vidcdn.vidgyor.com/tv9bangla-origin/live/playlist.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/rv5zv8J/unnamed.png" group-title="News",tv24 Bangla
http://tv24bangla.logosys.in:8080/hls/tv24bangla.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/gm4mt0p/channels4-profile.jpg" group-title="News",24 hrs tv
http://178.128.60.200:80/hls/stream2.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/VMYcwst/images-jpeg-1.jpg" group-title="News",AB Ananda Barta
http://5dd3981940faa.streamlock.net:1935/abnews/abnews/chunklist_w644394347.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/wNgQxzS/images-jpeg-2.jpg" group-title="News",Bangla Jago
http://banglajagotv.livebox.co.in:80/banglajagohls/24x7.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/NNrhMTT/ATN-Music.jpg" group-title="Music",ATN Music
http://iptvbd.jagobd.com:1931/live-orgin/atnmusic.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://amarnet.xyz/uploads/tv_image/sm/gaan-bangla-tv.jpg" group-title="Music",Gaan Bangla
http://208.86.19.13:81/612.stream/index.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/PWJC9pr/Bangla21tv-jpeg.jpg" group-title="Music",Bangla 21 TV
http://iptvbd.jagobd.com:1931/live-orgin/bangla21tv000889956-sg.stream/chunks.m3u8
#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/b/b6/Sangeet_bangla.jpg" group-title="Music",Sangeet Bangla
https://d2q8p4pe5spbak.cloudfront.net/bpk-tv/sangeetbangla/sangeetbangla.isml/sangeetbangla-audio_208482_und=208000-video=877600.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/bangla-talkies-logo-100x100.jpg" group-title="Music",Bangla Talkies
http://45.127.56.3:7698/live/Corpus-POL/SRV2/4/BANGLA-TALKIES/video.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/music-india-logo.jpg" group-title="Music",Music India
http://103.199.160.85/Content/musicindia/Live/Channel(MusicIndia)/Stream(02)/index.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/9xm-bollywood-music-logo.jpg" group-title="Hindi Music",9XM
http://d2q8p4pe5spbak.cloudfront.net/bpk-tv/9XM/9XM.isml/index.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/7kLVkmx/hungama-jpeg.jpg" group-title="Hindi Music",Hungama
https://live.hungama.com/linear/dhamaal/playlist.m3u8
#EXTINF:-1 tvg-logo="https://i.ibb.co/DkqFdL3/mastiii.jpg" group-title="Hindi Music",Mastiii
http://103.55.144.46:80/hls/masti.m3u8
#EXTINF:-1 tvg-logo="https://content.jdmagicbox.com/comp/bangalore/28/080p5153628/catalogue/zoom-tv-channel-m-g-road-bangalore-1pvp0gar61-t.jpg" group-title="Hindi Music",Zoom
http://103.55.144.46:80/hls/zoom.m3u8
#EXTINF:-1 tvg-logo="https://www.adgully.com/img/400/201905/kadak-hai-boss.jpg" group-title="Hindi",B4u Kadak
http://103.199.160.85/Content/moviehouse/Live/Channel(MovieHouse)/index.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/tv18-colors-tv-hd-logo.jpg" group-title="Hindi",Colors HD
http://208.86.19.13:81/204.stream/index.m3u8
#EXTINF:-1 tvg-logo="https://medianet.mv/media/channel/160x0-icon.png" group-title="Hindi",Colors Cineplex HD
http://103.55.144.46:80/hls/colorscineplex.m3u8
#EXTINF:-1 tvg-logo="https://d3fxehhzqt25no.cloudfront.net/images/logo-animated-new.gif" group-title="Hindi",Sony Entertainment HD
http://jupiter.bdcabletv.com:80/SonyTV_ENC/video.m3u8
#EXTINF:-1 tvg-logo="https://www.smartads.in/resources/assets/uploads/product_group/Television/Sony-MAX-HD-Logo.png" group-title="Hindi",Sony Max HD
http://jupiter.bdcabletv.com/SonyMax_HD/video.m3u8
#EXTINF:-1 tvg-logo="https://1.bp.blogspot.com/-F6jn5K3gVZ4/WBdCVj7kPvI/AAAAAAAAKJ8/vHKTIFS5ywgm_SEVla19SMDkznTxkG0PwCLcB/s1600/star-plus-tv-serials-list-schedule-trp-rating-2016-new-upcoming-tv-relaity-shows-mt-wiki.png" group-title="Hindi",Star Plus HD
http://144.217.70.181:9587/hin2/STARPLUSUK/tracks-v1a1/mono.m3u8?token=test
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/star-gold-hd-logo.jpg" group-title="Hindi",Star Gold HD
http://jupiter.bdcabletv.com/Stargold_ENC/video.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/zee-tv-hd-logo.jpg" group-title="Hindi",Zee TV HD
http://103.162.136.235:4500/play/a00e/index.m3u8
#EXTINF:-1 tvg-logo="https://www.tvchannelpricelist.com/wp-content/uploads/channels-logo-100/zee-cinema-hd-logo.jpg" group-title="Hindi",ZEE CINEMA HD
http://208.115.215.42/ZEE_CInema_HD/index.m3u8
#EXTINF:-1 tvg-logo="https://asianfoodnetwork.com/etc.clientlibs/afn/clientlibs/clientlib-site/resources/images/common/afn-logo.png" group-title="Food",Asian Food Network
https://vips-livecdn.fptplay.net/hda1/afchd_hls.smil/chunklist_b2500000.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Star World
http://221.120.204.4/star-world-LOCKLE/index.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Star Movies HD
http://221.120.204.4/STAR-MOVIEAS-LOCKLE/index.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Sony Pix HD
http://103.16.24.54:8080/channel2/index.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",AXN
http://playlist.urfan.web.id/dr9445/h/h141/01.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",HBO
http://vips-livecdn.fptplay.net/hda1/hbo_vhls.smil/chunklist_b5000000.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Cinemax
https://vips-livecdn.fptplay.net/hda1/cinemax_hls.smil/chunklist_b2500000.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Movie Kingdom
https://a.jsrdn.com/broadcast/e9b4093a41/+0000/high/c.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Movies
https://bloodydisgusting-localnow.cinedigm.com/playlist.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",THRILL
http://playlist.urfan.web.id/qwr9ew/s/s34/01.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",HITS
http://playlist.urfan.web.id/dr9445/h/h37/02.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",MN+ HD
http://103.55.144.46:80/hls/mn+.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",MNX HD
http://103.55.144.46:80/hls/mnx-hd.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Movies Now HD
#http://103.55.144.46:80/hls/movies-now.m3u8
http://103.167.190.250:80/hls/movies-now.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Gravitas Movies
https://gravitas-movies.sinclair.wurl.com/manifest/playlist.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",tvn Movies
http://playlist.urfan.web.id/dr9445/h/h21/01.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",MOVIES GROUP 1
http://hpull.kktv8.com/livekktv/128600025/playlist.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Movie Sphere
https://moviesphere-samsung-samsungus.amagi.tv/playlist.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",FW MOV
https://freelive.inwstream.com:1936/freelive-edge/fwmov_fw-iptv.stream/playlist.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",Lotus Macau
http://anren.live/HK/BiIOU11uLA.m3u8
#EXTINF:-1 tvg-logo="https://cdn.vectorstock.com/i/1000x1000/38/76/cinema-logo-movie-emblem-template-vector-19873876.webp" group-title="English Movies",UTV Action HD
http://103.55.144.46:80/hls/utvaction.m3u8
